/* Misc */
hr {
    max-width: 960px;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid var(--lightgrey);
}

img.image-responsive {
    height: auto;
    width: 100%;
}

img.image-padded {
    padding: 2rem;
}

/* Utilities */
.full-width {
    width: 100%;
    box-sizing: border-box;
}

.full-max-width {
    max-width: 100%;
    box-sizing: border-box;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.invert {
    filter: invert(1);
}